// Colors
$white: #fff;
$black: #000;
$alto: #cac5c5;
$body-color: #212529;
$placeholder-color: #999999;
$blank-input-color: #D0D0D0;
$trivia-day-background: #6184d8;
$successColor: #28a745;
$th-background: #ededed;
$blog-link-color: #007bff;
$blog-link-hover: #9bd4ff;
$primary-dark:#3F3E3E;
$primary-red:#FF5757;
$accent-grey:#95989A;
$accent-red:#FFE3E3;


$primary: #e98121;
$secondary : #6ec8e6;
$tertiary: #48ad37;

$color-primary: (
  darkest: #984a02,
  darker: #a85201,
  dark: #ca670a,
  primary: #e98121,
  light: #f79840,
  lighter: #f8aa61,
  lightest: #f3b67e
);

$social-icon-color: (
  facebook: #4267b2,
  twitter: #38A1F3,
  google: #DB4437,
  linkedin: #0077B5
);

// fonts
$font-family-calibre: Calibre, 'Helvetica Neue', Helvetica, Arial, sans-serif;
